<div class="main-content">
    <section class="section">
        <h1 style="color: darkred;font-weight: bolder;font-family: 'Abyssinica SIL';text-align: center">About Us</h1>
        <p style="font-size: 2vh;margin: 4vh;font-family: 'DejaVu Sans'">The project entitled Drops Of Hope : MNIT Blood Donation Portal is a pilot project for MNITians who are in urgent need of blood. The project is aimed at bringing the MNIT family to a platform where their requirements for blood can be fulfilled. Currently if any of the members of MNIT require blood either for themselves or for their family they have to follow a long procedure which includes informing about the need for blood to the admin office from where a mail is sent to all. But most of the time either the mail is not read by mistake or read very late. Through this project our goal is to reduce that procedure and time and instead of days we try to fulfill the request in just a matter of a few hours or maybe minutes.
            <br>
            <br>
            Any member of the MNIT family inclusive of First year students, Office Staff,  Professors and any person directly connected to MNIT will be able to register through their mnit email id or use otp to register and post their requests. This way they can also update the existing information regarding the last time they donated blood, their location, contact details if altered just by a
            single click.
            <br>
            <br>
            Another significant issue that this portal will cover is the unavailability of dispensary doctors of the college at all times. Students cannot often visit the college dispensary due to certain situations and work issues. This portal includes a chat feature through which the user can easily consult the doctors without the need of being physically present there. Users can ask about their doubts regarding blood donation, can share symptoms etc and the doctors can prescribe suitable medicines after studying their symptoms.
        </p>
    </section>
</div>
