<section class="section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                <div class="card card-primary">
                    <div class="card-header">
                        <h4>Login</h4>
                    </div>
                    <div class="card-body">

                        <!-- Success -->
                        <div class="form-group text-center" ng-show="main.successMsg">
                            <img src="/assets/img/success.gif" style="width: 150px;height: 150px;">
                            <h6 class="text-success">Success! {{ main.successMsg }}</h6>
                        </div>

                        <form ng-submit="main.doLogin(logData);" ng-show="!main.successMsg">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" ng-model="main.logData.email" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input type="password" class="form-control" ng-model="main.logData.password" required>
                            </div>

                            <!-- Error -->
                            <div class="form-group text-center" ng-show="main.errorMsg">
                                <img src="/assets/img/failed.png" style="width: 50px;height: 50px;">
                                <h6 class="text-danger">Oops! {{ main.errorMsg }}</h6>
                            </div>

                            <div class="form-group" ng-if="!main.loading">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    Login
                                </button>
                            </div>

                            <!-- Loading Msg -->
                            <div class="form-group text-center" ng-show="main.loading">
                                <img src="/assets/img/preload.gif" style="width: 100px;height: 100px;">
                                <h6 class="text-muted">Please wait, logging you in...</h6>
                            </div>
                        </form>

                        <div class="mb-4 text-muted text-center">
                             <a href="/forgot">Forgot Password?</a>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-muted text-center">
                    Don't have an account? <a href="/register">Create One</a>
                </div>
            </div>
        </div>
    </div>
</section>
