<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <h2 style="margin-top: -16px" class="section-title">My Profile</h2>
            <p class="section-lead">
                Hey {{ profile.user.firstName }}, here is your profile details!
            </p>
            <div class="row mt-sm-4">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card author-box">
                        <div class="card-body">
                            <div class="author-box-center">
                                <img alt="image" src="assets/uploads/images/{{ profile.user.profile_url }}" class="rounded-circle author-box-picture">
                                <div class="clearfix"></div>
                                <div class="author-box-name">
                                    <a href="#">{{ profile.user.firstName }} {{ profile.user.lastName }}</a>
                                </div>
                                <div class="author-box-job">Blood Donor</div>
                            </div>
                            <div class="text-center">
                                <div class="author-box-description">
                                    <p>
                                        A single pint can save three lives, a single gesture can create a million smiles.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>Personal Details</h4>
                        </div>
                        <div class="card-body">
                            <div>
                                <p class="clearfix">
                                    <span class="float-left">
                                      Email
                                    </span>
                                    <span class="float-right text-muted">
                                      {{ profile.user.email }}
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                      Contact No.
                                    </span>
                                    <span class="float-right text-muted">
                                      +91 {{ profile.user.contactNo }}
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                      Blood Group
                                    </span>
                                    <span class="float-right text-muted">
                                      {{ profile.user.bloodGroup }}
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                      Date of Birth
                                    </span>
                                    <span class="float-right text-muted" ng-if="profile.user.dob">
                                      {{ profile.user.dob }}
                                    </span>
                                    <span class="float-right text-muted" ng-if="!profile.user.dob">
                                      N/A
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-8">
                    <div class="card">
                        <section class="section">
                            <div class="section-body">
                                <div class="card-header" style="margin-top: 20px;">
                                    <h4>Blood Request Timeline</h4>
                                </div>
                                <div class="row" style="margin-right: 0px;margin-left: 0px;">
                                    <div class="col-12">
                                        <div class="activities">
                                            <div class="activity" ng-repeat="request in profile.requests">
                                                <div class="activity-icon bg-danger text-white">
                                                    <i class="fas fa-heartbeat"></i>
                                                </div>
                                                <div class="activity-detail">
                                                    <div class="mb-2">
                                                        <span class="text-job">{{ request.timestamp | date : 'dd MMMM yyyy'}}</span>
                                                        <span class="bullet"></span>
                                                        <div class="badge badge-success" ng-if="request.status == 'open'">Open</div>
                                                        <div class="badge badge-danger" ng-if="request.status != 'open'">Closed</div>
                                                        <div class="float-right dropdown">
                                                            <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h text-danger"></i></a>
                                                            <div class="dropdown-menu">
                                                                <div class="dropdown-title">Actions</div>
                                                                <a href="/request/{{ request._id }}" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View</a>
                                                                <a href="/editRequest/{{ request._id }}" class="dropdown-item has-icon"><i class="fas fa-pencil-alt"></i> Edit</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        <b class="text-danger">{{ request.unitsRequired }} </b> Units <b class="text-danger">{{ request.bloodGroup }} </b>Blood Requested for <b class="text-black-50"> {{ request.patientName }}</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
