<div class="main-content">
    <section class="section">
        <div class="section-body">
            <h2 style="margin-top: -16px" class="section-title">{{ chat.consultation.title | uppercase }}</h2>
            <p class="section-lead">
                Consult with MNIT doctors online at a single click!
            </p>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="chat">
                            <div class="chat-header clearfix">
                                <img ng-show="main.email == chat.consultation.doctors[0].email" src="/assets/uploads/{{ chat.consultation.author[0].profile_url }}" alt="avatar">
                                <img ng-show="main.email == chat.consultation.author[0].email" src="/assets/uploads/{{ chat.consultation.doctors[0].profile_url }}" alt="avatar">

                                <div class="chat-about" ng-show="main.email == chat.consultation.doctors[0].email">
                                    <div class="chat-with">{{ chat.consultation.author[0].firstName }} {{ chat.consultation.doctors[0].lastName }}</div>
                                    <div class="chat-num-messages">#OnlineConsultation</div>
                                </div>
                                <div class="chat-about" ng-show="main.email == chat.consultation.author[0].email">
                                    <div class="chat-with">Dr. {{ chat.consultation.doctors[0].firstName }} {{ chat.consultation.author[0].lastName }}</div>
                                    <div class="chat-num-messages">#OnlineConsultation</div>
                                </div>
                                <!--<div class="align-right">
                                    <a href="#" class="btn btn-icon btn-danger"><i class="fas fa-power-off"></i></a>
                                </div>-->
                            </div>
                        </div>
                        <div class="chat-box" id="mychatbox">
                            <div class="card-body chat-content" tabindex="2" style="overflow: scroll; outline: none;">
                                <div ng-repeat="chatting in chat.chats">
                                    <div class="chat-item chat-left" ng-show="main.email == chat.consultation.doctors[0].email">
                                        <img src="assets/uploads/{{ chat.consultation.author[0].profile_url }}">
                                        <div class="chat-details">
                                            <div class="chat-text">{{ chatting.message }}</div>
                                            <div class="chat-time">{{ chatting.timestamp | date : 'dd MMMM, hh:mm a'}}</div>
                                        </div>
                                    </div>

                                    <div class="chat-item chat-left" ng-show="main.email == chat.consultation.author[0].email">
                                        <img src="assets/uploads/{{ chat.consultation.doctors[0].profile_url }}">
                                        <div class="chat-details">
                                            <div class="chat-text">{{ chatting.message }}</div>
                                            <div class="chat-time">{{ chatting.timestamp | date : 'dd MMMM, hh:mm a'}}</div>
                                        </div>
                                    </div>

                                    <div class="chat-item chat-right" ng-if="chatting.sender === main.email">
                                        <img src="assets/uploads/{{ main.profile_url }}">
                                        <div class="chat-details">
                                            <div class="chat-text">{{ chatting.message }}</div>
                                            <div class="chat-time">{{ chatting.timestamp | date : 'dd MMMM, hh:mm a'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body chat-content" tabindex="2" style="height: 100px;">

                                <div class="card-footer chat-form">
                                    <form id="chat-form" ng-submit="chat.sendMessage(data, main.email);">
                                        <input type="text" ng-model="chat.data.message" class="form-control" placeholder="Type a message" required>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="far fa-paper-plane"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
