<div class="main-content">
    <section class="section">
        <div class="section-body">
            <h2 style="margin-top: -16px" class="section-title">Online Consultation</h2>
            <p class="section-lead">
                Consult with MNIT doctors online at a single click!
            </p>


            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h4>Your consultation..</h4>
                            <div class="card-header-action">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicModal">Doctors <i class="fas fa-hands-helping"></i></button>
                                <a href="/upload-story" class="btn btn-danger">New Consultation <i class="fas fa-briefcase-medical"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row mb-0">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="list-inline text-center">
                                                <div class="list-inline-item p-r-30"><i data-feather="arrow-up-circle"
                                                                                        class="col-green"></i>
                                                    <h5 class="m-b-0">2</h5>
                                                    <p class="text-muted font-14 m-b-0">Open Consultation</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="list-inline text-center">
                                                <div class="list-inline-item p-r-30"><i data-feather="arrow-down-circle"
                                                                                        class="col-orange"></i>
                                                    <h5 class="m-b-0">3</h5>
                                                    <p class="text-muted font-14 m-b-0">Closed Consultation</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="list-inline text-center">
                                                <div class="list-inline-item p-r-30"><i data-feather="arrow-up-circle"
                                                                                        class="col-green"></i>
                                                    <h5 class="mb-0 m-b-0">4.7</h5>
                                                    <p class="text-muted font-14 m-b-0">Feedback Rating.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Consultations Open -->
    <section class="section">
        <div class="section-body">
            <h2 class="section-title">Open Consultation</h2>
            <p class="section-lead">
                Opened consultation on a single click!
            </p>

            <div class="row">
                <div class="col-12 col-sm-12 col-lg-7">
                    <div class="card author-box card-danger">
                        <div class="card-body">
                            <div class="author-box-left">
                                <img alt="image" src="assets/img/users/user-3.png" class="rounded-circle author-box-picture">
                                <div class="clearfix"></div>
                            </div>
                            <div class="author-box-details">
                                <div class="author-box-name">
                                    <a href="#" class="text-danger">Mohit Shreewastav</a>
                                </div>
                                <div class="author-box-job">Physician</div>
                                <div class="author-box-description">
                                    <p>Fever due to constantly looking at the computer screen.</p>
                                </div>
                                <div class="w-100 d-sm-none"></div>
                                <div class="float-right mt-sm-0 mt-3">
                                    <a href="/chat" class="btn text-danger">Go to Chat <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
    </section>

    <!-- All Doctors -->
    <!-- basic modal -->
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Content goes here..
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
