<div class="main-content">
    <section class="section">
        <div class="section-body">
            <h2 style="margin-top: -16px" class="section-title">All Blood Requests</h2>
            <p class="section-lead">
                Basically, these are people near you in need.
            </p>

            <div class="row">
                <div class="col-12">
                    <div class="card card-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Blood Group</label>
                                            <select class="form-control" ng-model="bg" required>
                                                <option value="">-- Select Blood Group --</option>
                                                <option ng-repeat="bloodGroup in main.bloodGroups" ng-value="bloodGroup">{{ bloodGroup }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label>Patient Condition</label>
                                        <select class="form-control" ng-model="condition" required>
                                            <option value="">-- Showing all Requests --</option>
                                            <option value="Yes"> Only Critical Requests  </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- Loading Msg -->
            <div class="form-group text-center" ng-show="viewAllBloodRequest.loading">
                <img src="/assets/img/preload.gif" style="width: 100px;height: 100px;">
                <h6 class="text-muted">Please wait, while we fetch the data...</h6>
            </div>

            <div class="row" ng-if="!viewAllBloodRequest.loading">
                <div class="col-md-6 col-lg-6" ng-repeat="bloodRequest in viewAllBloodRequest.bloodRequests | filter : { bloodGroup : bg , condition : condition }">
                    <div class="card card-danger">
                        <div class="card-header row">
                            <div class="col-md-12 col-lg-3" style="background-image: url('assets/img/bg/bgroup.jpeg'); border-radius: 1vh" >
                                <p style="font-size: 16px; margin-top: 2vh;font-weight: bolder; color: white; text-align: center">{{ bloodRequest.bloodGroup }}</p>
                            </div>
                            <div class="col-md-12 col-lg-9">
                                <div style="margin-top: 2vh;" class="row">
                                    <div style="padding-left: 4vh" class="col-12">
                                        <h6 style="color: darkslategrey; font-weight: bold;">{{ bloodRequest.patientName | uppercase  }} <i class="fas fa-heartbeat text-danger" style="font-size: large;margin-left: 1vh" ng-if="bloodRequest.condition === 'Yes'"></i></h6>
                                        <h6 style="font-size :2.2vh;color: darkred; font-weight: bold;"><i class="fas fa-tint text-danger"></i> {{ bloodRequest.unitsRequired}} Units(s)</h6>
                                        <h6 style="font-size :2.2vh;color: grey; font-weight: bold;"><i class="fas fa-hospital text-danger"></i> {{ bloodRequest.hospitalName}}, {{bloodRequest.hospitalAddress }}</h6>
                                        <div class="w-100 d-sm-none"></div>
                                        <div class="float-right mt-sm-0 mt-3">
                                            <a href="/request/{{ bloodRequest._id }}" class="btn"><span class="text-danger">Explore</span>&nbsp;&nbsp;<i class="fas fa-chevron-right text-danger"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
