<div class="main-content">
    <section class="section">
        <div class="section-body">
            <h2 style="margin-top: -16px" class="section-title">All Blood Requests</h2>
            <p class="section-lead">
                Basically, these are people near you in need.
            </p>
            <form class="form-inline mr-auto">
                <div class="search-element">
                    <input class="form-control" type="search" placeholder="Search by Blood Group" aria-label="Search" data-width="200">
                    <button class="btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

            <!-- Loading Msg -->
            <div class="form-group text-center" ng-show="viewAllBloodRequest.loading">
                <img src="/assets/img/preload.gif" style="width: 100px;height: 100px;">
                <h6 class="text-muted">Please wait, while we fetch the data...</h6>
            </div>

            <br>
            <div class="row" ng-if="!viewAllBloodRequest.loading">
                <div class="col-12 col-md-6 col-lg-6" ng-repeat="bloodRequest in viewAllBloodRequest.bloodRequests">
                    <div class="card card-danger">
                        <div class="card-header row">
                            <div class="col-md-12 col-lg-2" style="background-image: url('assets/img/bg/bgroup.jpeg'); border-radius: 1vh" >
                                <p style="font-size: 16px; margin-top: 2vh;font-weight: bold; color: white; text-align: center">{{ bloodRequest.bloodGroup }}</p>
                            </div>
                            <div style="margin-left: 1vh" class="col-lg-9 col-md-12">
                                <div style="margin-top: 1vh;" class="row">
                                    <div class="col-9">
                                        <h4 style="color: darkslategrey; font-weight: bold;">{{ bloodRequest.patientName | uppercase  }}</h4>
                                    </div>
                                    <div class="col-2">
                                        <div style="margin-left: 2vh" class="card-header-action">
                                            <a data-collapse="#mycard-collapse1" class="btn btn-icon btn-info" href="/request/{{ bloodRequest._id }}">
                                                <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left:0.1vh " class="row" >
                                    <p style="color: darkred; font-weight: bold; font-size: medium">{{ bloodRequest.unitsRequired}}</p>
                                    <p style="margin-left:5px; color: grey; font-weight: bold; font-size: medium">Unit(s)</p>
                                </div>
                                <div style="margin-top: -2vh; margin-left: 0.1vh" class="row" >
                                    <p style="color: grey; font-weight: bold; font-size: medium">{{ bloodRequest.hospitalName}}, {{bloodRequest.hospitalAddress }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
