<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h4>Find Donor</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Blood Group</label>
                                            <select class="form-control" ng-model="bg" required>
                                                <option value="">-- Select Blood Group --</option>
                                                <option ng-repeat="bloodGroup in main.bloodGroups" ng-value="bloodGroup">{{ bloodGroup }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Donor Status</label>
                                        <select class="form-control" ng-model="status" required>
                                            <option value="">-- Showing all donors --</option>
                                            <option value="Yes"> Only Available </option>
                                            <option value="No"> Not Available </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="bg || status" onmousedown="return false" onselectstart="return false">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ donors.length }} Donor(s) found</h4>

                            <div class="card-header-form">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" ng-model="searchDonor">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>#</th>
                                        <th>Name </th>
                                        <th>Blood Group</th>
                                        <th>Contact No.</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                    <tr ng-repeat="donor in donors = (findDonor.donors | filter : { bloodGroup : bg , available : status, firstName : searchDonor }) ">
                                        <td>{{ $index + 1 }}.</td>
                                        <td>
                                            <img alt="image" src="/assets/uploads/{{ donor.profile_url }}" class="rounded-circle" width="35" data-toggle="tooltip" title="Wildan Ahdian">
                                            &nbsp; &nbsp;{{ donor.firstName }} {{ donor.lastName }}
                                        </td>
                                        <td>
                                            {{ donor.bloodGroup }}
                                        </td>
                                        <td>+91 {{ donor.contactNo }}</td>
                                        <td>{{ donor.email }}</td>
                                        <td>
                                            <div ng-if="donor.available == 'Yes'" class="badge badge-success">Available</div>
                                            <div ng-if="donor.available == 'No'" class="badge badge-warning">Not Available</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
