<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h4>Find Donor</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Blood Group</label>
                                            <select class="form-control" ng-model="bg" required>
                                                <option value="">-- Select Blood Group --</option>
                                                <option ng-repeat="bloodGroup in findDonor.bloodGroups" ng-value="bloodGroup">{{ bloodGroup }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Donor Status</label>
                                        <select class="form-control" ng-model="bloodRequest.requestData.bloodGroup" required>
                                            <option value="">-- Select Status --</option>
                                            <option value="all"> All </option>
                                            <option value="available"> Available </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Donors</h4>
                            <div class="card-header-form">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>#</th>
                                        <th>Name {{ bg }}</th>
                                        <th>Blood Group</th>
                                        <th>Contact No.</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr ng-repeat="donor in findDonor.donors | filter : bg">
                                        <td>{{ $index + 1 }}.</td>
                                        <td>
                                            <img alt="image" src="/assets/uploads/images/{{ donor.profile_url }}" class="rounded-circle" width="35" data-toggle="tooltip" title="Wildan Ahdian">
                                            &nbsp; &nbsp;{{ donor.firstName }} {{ donor.lastName }}
                                        </td>
                                        <td>
                                            {{ donor.bloodGroup }}
                                        </td>
                                        <td>+91 {{ donor.contactNo }}</td>
                                        <td>2018-01-20</td>
                                        <td>
                                            <div class="badge badge-success">Available</div>
                                        </td>
                                        <td><a href="#" class="btn btn-primary">Report</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
