<div class="main-content">
    <section class="section">
        <div class="section-body">
            <h2 class="section-title">Post your blood request</h2>
            <p class="section-lead">
                Kindly fill below details accurately to help you better!
            </p>
            <div class="row">
                <div class="col-12">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h4>Request Blood</h4>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Select Requirement</label>
                                        <select class="form-control">
                                            <option>Blood </option>
                                            <option>Platelets</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Blood Group</label>
                                        <select class="form-control">
                                            <option>A+</option>
                                            <option>A-</option>
                                            <option>B+</option>
                                            <option>B-</option>
                                            <option>AB+</option>
                                            <option>AB-</option>
                                            <option>A1+</option>
                                            <option>A1-</option>
                                            <option>A1B+</option>
                                            <option>A1B-</option>
                                            <option>A2+</option>
                                            <option>A2-</option>
                                            <option>A2B+</option>
                                            <option>A2B-</option>
                                            <option>O+</option>
                                            <option>O-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
