<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">

                <div class="col-12">
                    <div class="card profile-widget">
                        <div class="profile-widget-header">
                            <p style="background-image: url('assets/img/bg/bgroup.jpeg');border-radius: 50%;height:14vh;font-size: 4vh;color: white;padding-top: 5vh;padding-left:3.5vh;font-weight:bolder" class="profile-widget-picture">{{ request.bloodRequest.bloodGroup}}</p>
                            <div class="profile-widget-items">
                                <div class="profile-widget-item">
                                    <div class="profile-widget-item-label">Unit(s) </div>
                                    <div class="profile-widget-item-value">{{ request.bloodRequest.unitsRequired }}</div>
                                </div>
                                <div class="profile-widget-item">
                                    <div class="profile-widget-item-label">Blood Required Till</div>
                                    <div class="profile-widget-item-value">{{ request.bloodRequest.requiredDate  | date : 'dd MMMM yyyy' }}</div>
                                </div>
                                <div class="profile-widget-item">
                                    <div class="profile-widget-item-label">Critical?</div>
                                    <div class="profile-widget-item-value">{{ request.bloodRequest.condition }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-widget-description">
                            <div class="profile-widget-name">Requested by {{ request.bloodRequest.name }}
                                <div class="text-muted d-inline font-weight-normal">
                                    <div class="badge badge-success">Opened Request</div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/icons/name.png" class="mr-2" style="height:5.5vh;width:5.5vh" alt="">
                                        <div class="media-body ml-3">
                                            <span>Patient's Name</span>
                                            <br>
                                            <medium class="font-bold">{{ request.bloodRequest.patientName }}</medium>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/icons/age.png"  class="mr-2" style="height:7vh;width:7vh"  alt="">
                                        <div class="media-body ml-3">
                                            <span >Patient's Age</span>
                                            <br>
                                            <medium class="font-bold">{{ request.bloodRequest.patientAge }} Years</medium>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/icons/gender.png"  class="mr-2" style="height:6vh;width:6vh" alt="">
                                        <div class="media-body ml-3">
                                            <span>Gender</span>
                                            <br>
                                            <medium class="font-bold">{{ request.bloodRequest.patientGender }}</medium>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/icons/call.png"  class="mr-2" style="height:5.5vh;width:5.5vh"  alt="">
                                        <div class="media-body ml-3">
                                            <span>Contact No.</span>
                                            <br>
                                            <medium class="font-bold">+91 {{ request.bloodRequest.contactNo }}</medium>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/icons/hospital.png"  class="mr-2" style="height:7vh;width:7vh"  alt="">
                                        <div class="media-body ml-3">
                                            <span>Hospital Name</span>
                                            <br>
                                            <medium class="font-bold">{{ request.bloodRequest.hospitalName }}</medium>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/icons/maps-and-flags.png"  class="mr-2" style="height:6vh;width:6vh"  alt="">
                                        <div class="media-body ml-3">
                                            <span>Hospital Address</span>
                                            <br>
                                            <medium class="font-bold">{{ request.bloodRequest.hospitalAddress }}</medium>>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/icons/purpose.png"  class="mr-2" style="height:6vh;width:6vh"  alt="">
                                        <div class="media-body ml-3">
                                            <span >Purpose</span>
                                            <br>
                                            <medium class="font-bold">{{ request.bloodRequest.purpose }}</medium>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/icons/status.png"  class="mr-2" style="height:7vh;width:7vh"  alt="">
                                        <div class="media-body ml-3">
                                            <span >Request Status</span>
                                            <br>
                                            <medium class="font-bold">{{ request.bloodRequest.status }}</medium>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/icons/interface.png"  class="mr-2" style="height:6vh;width:6vh"  alt="">
                                        <div class="media-body ml-3">
                                            <span>Posted On</span>
                                            <br>
                                            <medium class="font-bold">{{ request.bloodRequest.timestamp | date : 'HH:MM:ss dd MMMM yyyy'}}</medium>>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-center pt-0">
                            <div class="font-weight-bold mb-2 text-small">Actions</div>
                            <div class="buttons">
                                <a href="#" class="btn btn-icon icon-left btn-primary"><i class="far fa-edit"></i> Willing to donate</a>
                                <a href="#" class="btn btn-icon icon-left btn-info"><i class="fas fa-info-circle"></i> Share with friend</a>
                                <a href="#" class="btn btn-icon icon-left btn-warning"><i class="fas fa-exclamation-triangle"></i>Some action</a>
                                <a href="#" class="btn btn-icon icon-left btn-danger"><i class="fas fa-times"></i> Report </a>
                                <a href="#" class="btn btn-icon icon-left btn-success"><i class="fas fa-check"></i> Success</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <h2 class="section-title">Request posted by.</h2>
                    <p class="section-lead">
                        Hi {{ main.firstName }}, find author details here!
                    </p>
                    <br>
                    <div class="card author-box card-primary">
                        <div class="card-body">
                            <div class="author-box-left">
                                <img alt="image" src="assets/img/users/user-1.png" class="rounded-circle author-box-picture">
                            </div>
                            <div class="author-box-details">
                                <div class="author-box-name">
                                    <a href="#">Pankaj Tanwar</a>
                                </div>
                                <div class="author-box-job">Blood Request Author</div>
                                <div class="author-box-description">
                                    <p>For any queries related to this blood request, feel free to contact me. I can be reached at <b>+91 7740996673</b>.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
