<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">

                <div class="col-12">
                    <div class="card profile-widget">
                        <div class="profile-widget-header">
                            <img alt="image" src="assets/img/users/user-1.png" class="rounded-circle profile-widget-picture">
                            <div class="profile-widget-items">
                                <div class="profile-widget-item">
                                    <div class="profile-widget-item-label">Unit(s) </div>
                                    <div class="profile-widget-item-value">{{ request.bloodRequest.unitsRequired }}</div>
                                </div>
                                <div class="profile-widget-item">
                                    <div class="profile-widget-item-label">Blood Group</div>
                                    <div class="profile-widget-item-value">{{ request.bloodRequest.bloodGroup }}</div>
                                </div>
                                <div class="profile-widget-item">
                                    <div class="profile-widget-item-label">Critical?</div>
                                    <div class="profile-widget-item-value">{{ request.bloodRequest.condition }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-widget-description">
                            <div class="profile-widget-name">{{ request.bloodRequest.unitsRequired}} Blood Request by {{ request.bloodRequest.name }}
                                <div class="text-muted d-inline font-weight-normal">
                                    <div class="badge badge-success">Opened Request</div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                        <div class="media-body ml-3">
                                            <span class="font-weight-bold">{{ request.bloodRequest.patientName }}</span>
                                            <br>
                                            <small class="text-muted">Patient Name</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                        <div class="media-body ml-3">
                                            <span class="font-weight-bold">{{ request.bloodRequest.patientAge }} Years</span>
                                            <br>
                                            <small class="text-muted">Patient Age</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                        <div class="media-body ml-3">
                                            <span class="font-weight-bold">{{ request.bloodRequest.patientGender }}</span>
                                            <br>
                                            <small class="text-muted">Gender</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                        <div class="media-body ml-3">
                                            <span class="font-weight-bold">+91 {{ request.bloodRequest.contactNo }}</span>
                                            <br>
                                            <small class="text-muted">Contact No.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                        <div class="media-body ml-3">
                                            <span class="font-weight-bold">{{ request.bloodRequest.hospitalName }}</span>
                                            <br>
                                            <small class="text-muted">Hospital Name</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                        <div class="media-body ml-3">
                                            <span class="font-weight-bold">{{ request.bloodRequest.hospitalAddress }}</span>
                                            <br>
                                            <small class="text-muted">Hospital Address</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                        <div class="media-body ml-3">
                                            <span class="font-weight-bold">{{ request.bloodRequest.purpose }}</span>
                                            <br>
                                            <small class="text-muted">Purpose</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                        <div class="media-body ml-3">
                                            <span class="font-weight-bold">{{ request.bloodRequest.status }}</span>
                                            <br>
                                            <small class="text-muted">Request Status</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="support-ticket media pb-1 mb-3">
                                        <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                        <div class="media-body ml-3">
                                            <span class="font-weight-bold">{{ request.bloodRequest.timestamp | date : 'dd MMMM yyyy'}}</span>
                                            <br>
                                            <small class="text-muted">Posted on</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-center pt-0">
                            <div class="font-weight-bold mb-2 text-small">Actions</div>
                            <div class="buttons">
                                <a href="#" class="btn btn-icon icon-left btn-primary"><i class="far fa-edit"></i> Willing to donate</a>
                                <a href="#" class="btn btn-icon icon-left btn-info"><i class="fas fa-info-circle"></i> Share with friend</a>
                                <a href="#" class="btn btn-icon icon-left btn-warning"><i class="fas fa-exclamation-triangle"></i>Some action</a>
                                <a href="#" class="btn btn-icon icon-left btn-danger"><i class="fas fa-times"></i> Report </a>
                                <a href="#" class="btn btn-icon icon-left btn-success"><i class="fas fa-check"></i> Success</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <h2 class="section-title">Request posted by.</h2>
                    <p class="section-lead">
                        Hi {{ main.firstName }}, find author details here!
                    </p>
                    <br>
                    <div class="card author-box card-primary">
                        <div class="card-body">
                            <div class="author-box-left">
                                <img alt="image" src="assets/img/users/user-1.png" class="rounded-circle author-box-picture">
                            </div>
                            <div class="author-box-details">
                                <div class="author-box-name">
                                    <a href="#">Pankaj Tanwar</a>
                                </div>
                                <div class="author-box-job">Blood Request Author</div>
                                <div class="author-box-description">
                                    <p>For any queries related to this blood request, feel free to contact me. I can be reached at <b>+91 7740996673</b>.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
